
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.mypy_cache/
.pytest_cache/
.venv/
env/
venv/


*.log
*.sqlite3
db.sqlite3
media/ 
staticfiles/ 


.vscode/ # Файлы настроек VS Code
.idea/ # Файлы настроек PyCharm/IntelliJ
*.swp # Vim swap files
*.swo # Vim swap files


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

node_modules/
build/
dist/
