{% extends "main/base_light.html" %}
{% load static %}
{% block content %}
<div class="login-back">
    <div class="login-container">
        <div class="login-form">
            <h2>Вход</h2>
            <div class="login-form-input-btn">
                <div class="login-form-input">
                    <input type="text" id="username" placeholder="Логин" required>
                    <input type="password" id="password" placeholder="Пароль" required>
                </div>
                <div id="error-message" class="error-message" style="color: red; display: none; margin: 10px 0;"></div>
                <button class="login-form-btn" onclick="loginUser()">Войти</button>
            </div>
            <div class="no-login">
                <p>У вас нет аккаунта?</p>
                <a href="{% url 'accounts:register' %}">Зарегистрироваться</a>
            </div>
        </div>

    </div>

</div>
  
{% endblock content %}
