{% extends "main/base_light.html" %}
{% load static %}
{% block content %}
<div class="login-back">
    <div class="login-container">
        <div class="login-form">
            <h2>Регистрация</h2>
            <div class="login-form-input-btn">
                <div class="login-form-input">
                    <input type="text" id="reg-username" placeholder="Логин" required>
                    <input type="text" id="full_name" placeholder="ФИО">
                    <input type="email" id="email" placeholder="Почта" required>
                    <input type="tel" id="phone" placeholder="+7">
                    <input type="password" id="reg-password" placeholder="Пароль" required>
                    <input type="password" id="password2" placeholder="Повторите пароль" required>
                </div>
                <div class="register-span">
                    <div class="register-cheked">
                        <label class="check-btn-label">
                            <input type="checkbox" id="agreed_to_terms" class="check-input" required>
                            <span class="custom-checkbox"></span>
                            <span class="btn-text">Согласие на обработку персональных данных</span>
                        </label>
                    </div>
                    <div class="register-cheked">
                        <label class="check-btn-label">
                            <input type="checkbox" id="agreed_to_offer" class="check-input">
                            <span class="custom-checkbox"></span>
                            <span class="btn-text">Договор публичной оферты</span>
                        </label>
                    </div>
                    <div class="register-cheked">
                        <label class="check-btn-label">
                            <input type="checkbox" id="agreed_to_privacy" class="check-input">
                            <span class="custom-checkbox"></span>
                            <span class="btn-text">Политика конфиденциальности</span>
                        </label>
                    </div>
                </div>
                <div id="reg-error-message" class="error-message" style="color: red; display: none; margin: 10px 0;"></div>
                <button class="login-form-btn " onclick="registerUser()">Зарегистрироваться</button>
            </div>
            <div class="no-login">
                <p>Уже есть аккаунт?</p>
                <a href="{% url 'accounts:login' %}">Войти</a>
            </div>
        </div>

    </div>

</div>
  
{% endblock content %}