{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="{% static 'main/js/js.js' %}"></script>
    <title>Букетная</title>
</head>
<body>
            <header class="header">

                <a href="{% url 'main:home' %}">
                    <img class="header_logo" src="{% static 'main/img/decoration/logo_black.png' %}" alt="">
                </a>
            <nav class="nav-menu" id="nav-menu">
                <a href="{% url 'main:home' %}" class="nav-link2">Главная</a>
                <a href="{% url 'catalog:catalog' %}" class="nav-link2">Каталог</a>
                <a href="#" class="nav-link2">О нас</a>
                <a href="#" class="nav-link2">Заказать</a>
            </nav>
            <div class="action-icons">
                <div class="icon-wrapper">
                    <div class="icon icon-search">
                        <a href="{% url 'accounts:profile' %}">
                            <img src="{% static 'main/img/decoration/account_black.png' %}" alt="">
                        </a>
                        <img src="{% static 'main/img/decoration/bag_black.png' %}" alt="">
                    </div>
                    <button class="burger" id="burger-btn" aria-label="Открыть меню">
                        <span class="burger-line2"></span>
                        <span class="burger-line2"></span>
                        <span class="burger-line2"></span>
                    </button>
                </div>
            </div>
            </header>
        <main>
            {% block content %}
              
            {% endblock content %}
        </main>
        <footer>
            <div class="content_column2">
                <div class="container2">
                    <div class="nav-menu2">

                        <a class="nav-item" href="{% url 'main:home' %}">Главная</a>
                        <a class="nav-item" href="#">О нас</a>
                        <a class="nav-item" href="#">Каталог</a>
                        <a class="nav-item" href="#">Заказать</a>
                        <a class="nav-item" href="#">Личный кабинет</a>
                    </div>
                    <div class="icons-container">
                        <img src="{% static 'main/img/decoration/inst.png' %}" alt="">
                        <img src="{% static 'main/img/decoration/facebook.png' %}" alt="">
                        <img src="{% static 'main/img/decoration/watsapp.png' %}" alt="">
                        <img src="{% static 'main/img/decoration/VK.png' %}" alt="">
                    </div>
                </div>
            </div>

        </footer>

    
</body>
</html>