{% extends "main/base_light.html" %}
{% load static %}
{% block content %}
  <div class="content_column">
    <div class="line2"></div>
    <div class="catalog-container">
        <div class="filters-sidebar">
            <h1 class="catalog-title">Каталог</h1>
            <form class="catalog-form" method="GET" action="{% url 'catalog:catalog' %}" id="search-form">
                <div class="search-box">
                    <div class="catalog-form2">
                        <input class="search-text" name="q" placeholder="Поиск товаров" value="{{ request.GET.q }}">
                        <div class="search-icon" onclick="document.getElementById('search-form').submit()">
                            <img src="{% static 'main/img/decoration/sesrch.png' %}" alt="">
                        </div>
                    </div>
                </div>
                {% if request.GET.category %}
                    <input type="hidden" name="category" value="{{ request.GET.category }}">
                {% endif %}
                
                <div class="categories-list">
                    <a href="{% url 'catalog:catalog' %}" class="category-item {% if not current_category %}active{% endif %}">
                        Все товары
                    </a>
                    {% for cat in categories %}
                    <a href="{% url 'catalog:catalog' %}?category={{ cat.slug }}" class="category-item {% if current_category == cat.slug %}active{% endif %}">
                        {{ cat.name }}
                    </a>
                    {% endfor %}
                </div>
                
                <div class="price-inputs">
                    <div class="price-field">
                        <span class="price-label">от</span>
                        <input type="number" class="price-input" name="min_price" value="{{ request.GET.min_price|default:'60'}}" min="0">
                        <span class="price-currency">₽</span>
                    </div>
                    <div class="price-divider">—</div>
                    <div class="price-field">
                        <span class="price-label">до</span>
                        <input type="number" class="price-input" name="max_price" value="{{ request.GET.max_price|default:'60000'}}"  max="100000">
                        <span class="price-currency">₽</span>
                    </div>
                </div>
                <button class="apply-filter" type="submit">Фильтрация</button>

            </form>
        </div>
        <div class="catalog_column">
            <div class="products-grid">
                {% for product in products %}
                    <div class="card">
                        <img src="{{ product.get_main_image_url }}" alt="{{ product.name }}">
                        <div class="card_name">{{ product.name }}</div>
                        <div class="card_price">
                            {% if product.has_discount %}
                            {{ product.price|floatformat:0 }} руб.
                            {% else %}
                            {{ product.price|floatformat:0 }} руб.
                            {% endif %}
                        </div>
                        {% if user.is_authenticated %}
                            <a href="{% url 'catalog:product' product.slug %}"><button class="card_button">Выбрать букет</button></a>
                        {% else %}
                            <a data-product-url="{% url 'catalog:product' product.slug %}"
                                onclick="requireLogin(this.getAttribute('data-product-url'))">
                            <button class="card_button">Выбрать букет</button>
                        </a>
                        {% endif %}
                    </div>
                {% empty %}
                    <div class="no-products">
                        <p>Товары не найдены</p>
                    </div>
                {% endfor %}
            </div>        
            {% if products.has_other_pages %}
            <div class="page-numbers">
                {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}
                    {% if current_category %}&category={{ current_category }}{% endif %}
                    {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}
                    {% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}
                    {% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}" 
                class="page-number">‹</a>
                {% endif %}
                
                {% for num in products.paginator.page_range %}
                    {% if num == products.number %}
                    <span class="page-number active">{{ num }}</span>
                    {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                    <a href="?page={{ num }}
                        {% if current_category %}&category={{ current_category }}{% endif %}
                        {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}
                        {% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}
                        {% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}" 
                    class="page-number">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                
                {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}
                    {% if current_category %}&category={{ current_category }}{% endif %}
                    {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}
                    {% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}
                    {% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}" 
                class="page-number">›</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="line"></div>
  </div>
{% endblock content %}